---
# Based on the ROS 2 ament_clang_format configuration, using ROS 1 Noetic C++11.
Language: Cpp
BasedOnStyle: Google
Standard: Cpp11
ColumnLimit: 100
IndentWidth: 2
ContinuationIndentWidth: 2
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: DontAlign
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 0
DerivePointerAlignment: false
PointerAlignment: Middle
ReflowComments: false
...
